@model IEnumerable<Watchlist.Models.MovieViewModel>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InWatchlist)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        <button id="@item.MovieId" data-val="@item.InWatchlist" class="btn">
                            @(item.InWatchlist ? " - " : " + ")
                        </button>

                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MovieId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @section Scripts {
        <script>jQuery(document).ready(function () {
                $('.btn').click(function (e) {
                    var btn = $(this);
                    var movieId = btn.attr('id');
                    var movieVal = btn.attr('data-val') == "False" ? 0 : 1;
                    $.get('/Movies/AddRemove?id=' + movieId + '&val=' + movieVal,
                        function (data) {
                            if (data == 0) {
                                btn.attr('data-val', 'False');
                                btn.html(' + ');
                            }
                            else if (data == 1) {
                                btn.attr('data-val', 'True');
                                btn.html(' - ');
                            }
                        });
                });
            });</script>
    }ReservationInputResult
</body>

</html>